/* quiz.css */
main{
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  border: 5px;
  border-style: solid;
  border-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  background: url('https://e0.pxfuel.com/wallpapers/379/428/desktop-wallpaper-gaming-black-gaming.jpg');
  background-size: cover;
  color: #fff; 
  font-weight: bolder;
}
main.plus-page {
  background: url('https://images.rawpixel.com/image_transparent_png_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTA4L3Jhd3BpeGVsb2ZmaWNlNV9waG90b19vZl9hX2dpcmxfZ2FtZXJfcGxheWluZ19nYW1lX29uX2NvbXB1dGVyX180M2U5NWUzNC04NjFiLTQ4NjktYjkwNS1hM2QxOWI1ODRjNTJfMS5wbmc.png');
  background-size: cover;
  color: #fff; 
  height: 350px;
  width: 60%;
  align-items: center;
}
body {
  background: url('https://media1.giphy.com/media/3f63VcWeaGeaQ6AfKk/giphy.gif?cid=ecf05e47yi4m2bopd910srklh57b3mgu91g60vn3agf3089s&ep=v1_gifs_related&rid=giphy.gif&ct=g');
  background-size: 50%;

}
h1 {
  font-size: 40px;
  color: #fff;
}
h3 {
  font-size: 38px;
  color: #fff;
  font-weight: bolder;
  text-shadow: 0px 0px 10px #000;
  -webkit-text-stroke: 1px #000;
  z-index: 1;
}

div {
  margin-top: 20px;
}

p {
  font-size: 1.2em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  margin-right: 5px;
}
.inputInteface {
  width: 100px;
}

.top-button {
  display: block;
  margin: 15px auto 10px;
}

.bottom-button {
  background-color: #8904B1;
  color: #fff;
  border: none;
  padding: 7px 10px;
  font-size: 1em;
  cursor: pointer;
  margin: 0 5px 15px;
  display: inline-block;
}

button {
  background-color: #8904B1;
  color: #fff;
  border: none;
  padding: 7px 10px;
  font-size: 1em;
  cursor: pointer;
  margin-top: 15px;
}

button:hover {
  background-color: #2F0B3A;
}

.btnInterface {
  background-color: #8904B1;
  color: #fff;
  border: 3px;
  border-style: solid;
  border-color: #000;
  padding: 7px 14px;
  width: 150px;
  font-size: 1em;
  cursor: pointer;
  margin-top: 15px;
}

.btnInterface:hover {
  background-color: #2F0B3A;
}
@keyframes correctAnimation {
  0% {
      transform: scale(1);
      color: #fff; 
  }
  50% {
      transform: scale(1.5) rotate(10deg);
      color: #28a745;
  }
  100% {
      transform: scale(1);
      color: #fff;
  }
}

@keyframes wrongAnimation {
  0% {
      transform: rotate(0deg);
      color: #fff; 
  }
  50% {
      transform: rotate(-10deg);
      color: #dc3545; 
  }
  100% {
      transform: rotate(0deg);
      color: #fff; 
  }
}

.correct-answer {
  animation: correctAnimation 0.5s ease-out;
}

.wrong-answer {
  animation: wrongAnimation 0.5s ease-out;
}